@layer base {
    @font-face {
        font-family: 'Bison';
        url('Bison-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bison ThickOutline';

        url('Bison-ThickOutline.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}